@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

/* Custom utilities if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
