@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  :root {
    color-scheme: light;
  }
  :root.dark {
    color-scheme: dark;
  }
  body {
    @apply bg-gray-50 text-gray-900;
  }
  :root.dark body {
    @apply bg-gray-950 text-gray-50;
  }
}
